body {
	font-family: 'Poppins', sans-serif;
}

* {
	padding: 0;	
	margin: 0;
}

li {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
}

header {
	background-color: #f6f6f6;
	padding: 22px 0;
}

.header-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-container a {
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}

.header-container a:hover {
	background-color: #ffea00;
}

#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

nav {

}

.top-slide {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: 1800px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.top-container {
	width: 85%;
	margin: 0 auto;
}

.top-slide h2 {
	background-color: #ffea00;
	display: inline;
	font-size: 60px;
	padding: 0 13px;
}

.top-slide :nth-child(2) {
	margin-bottom: 10px;
}

.top-slide p {
	font-size: 24px;
	display: inline;
	background-color: #414146;
	color: #fff;
	padding: 0 4px;
}

.specialize-container {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.specialize-container h3 {
	font-size: 35px;
	letter-spacing: 2px;
	margin-top: 30px;
}

.specialize-container p {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.first-p {
	font-size: 20px;
	color: #fff;
}

.bottom-card {
	background-color: #414146;
	position: relative;
	top: -30px;
}

.specialize-card {
	display: flex;
	justify-content: space-between;
}

.portfolio {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.portfolio h4 {
	background-color: #424147;
	padding: 0 8px;
	display: inline-block;
	color: #f5e10a;
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: 100;
}

.portfolio p {
	font-size: 16px;
	color: #424146;
}

.toggles {
	margin-bottom: 30px;
}

.toggles button {
	border: none;
	background-color: #fff;
	color: #424146;
	cursor: pointer;
	font-size: 16px;
	margin: 20px;
	margin-top: 25px;
}

.toggles button:after {
	content: ' /';
}

.toggles button:last-child:after {
	content: ' ';
}

.posts {
	width: 90%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin: 0 auto;
}

body {
	height: 3000px;
}

footer {
	background-color: #414146;
	padding: 30px 0;
	color: #fff;
}

footer h4 {
	font-size: 18px;
}

.footer-container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 40% 30% 20%;
	grid-column-gap: 3%;
}

.about-us a {
	background-color: #000;
	color: #fff;
	font-size: 15px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-bottom: 2px solid #ffea00;
	display: inline-block;
}

.images {
	margin-top: 20px;
}

.tweets p{
	margin-top: 20px;
}

.tweets span {
	color: #ffea00;
}























@media screen and (max-width: 420px){
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.main-menu {
		display: none;
	}

	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.main-menu a {
		display: block;
		padding: 8px;
	}

	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
	}

	.toggle-button:after {
		content: attr(data-open);
		display: block;
	}

	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}

	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
	}

	.header-container a {
		margin-right: -65px;
	}

	.main-menu {
		position: relative;
		top: 20px;
		right: 60px;
	}

	.top-slide {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.top-slide h2 {
		font-size: 32px;
	}

	.top-slide p {
		font-size: 16px;
	}

	.specialize-container p {
		font-size: 16px;
	}

	.specialize-card {
		display: flex;
		flex-direction: column;
	}

	.bottom-card {
		width: 255px;
		margin: 0 auto;
	}

	.posts {
		width: 90%;
		display: grid;
		margin: 0 auto;
		grid-template-columns: auto;
	}
}
































